.uni_header {
  display: flex;
  justify-content: center;
  position: fixed;
  top:0;
  left: 0;
  width: 100vw;
  height: 80px;
  z-index: 10;
  &__inner-container {
    height: 100%;
    width: 100%;
    max-width: $global-width;
    padding: 0 ($global-width / 14);
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  &__nav-list {
    position: relative;
    display: flex;
    height: 100%;
    min-width: 320px;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    list-style: none;
    z-index: 1;
    li {
      display: flex;
      align-items: center;
      margin-left: 30px;
      height: 100%;
      z-index: 1;

      &:hover {
        cursor: pointer;
        a {
          color: $white;
        }
      }
      a {
        display: flex;
        align-items: center;
        height: 100%;
        text-transform: uppercase;
        font-family: $nav-font-family;
        color: $darkBlue;
        font-size: 13px;
        transition: all 600ms 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
      }
    }
  }
  & nav {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    & .magic-line {
      position: absolute;
      top:6px;
      min-width: 30px;
      width: 30px;
      height: calc(100% - 12px);
      opacity: 0;
      background-color: $pink;
      z-index: 0;
      transition: 
        opacity 400ms 100ms ease-in, 
        width 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95), 
        left 400ms 100ms cubic-bezier(1, 0, 0, 1);
    }
  }
}
