.card-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  max-width: $global-width;
  min-height: 500px;
  margin: auto;
  @include breakpoint(large down){
    padding: 1rem;
  }
  a {
    flex-basis: 32%;
    min-width: 280px;
    max-width: calc($global-width / 3);
    margin-bottom: 1%;
    figure {
      img {
        object-fit: cover;
        width: 100%;
        max-height: 220px;
      }
    }
  
    h2 {
      font-family: $corma;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 26px;
      margin-top:20px;
      /* or 130% */

      color: $darkBlue;
    }
  }
}